html {
    font-family: 'Montserrat';
    background-color: white;
    background-image: url(truebg.png)
}

#logo {
    vertical-align: middle;
}
#header{
    text-align: center;
}
#header div {
    display: inline-block;
}

#logo img {
    text-align: left;
    width: 100px;
    height: 100px;
}

#navibar {
    background-color: transparent;
    vertical-align: middle;
}

#navibar ul li {
    display: inline;
    list-style-type: none;
}


#navibar ul li a {
    font-weight: 550px;
    color: grey;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

#navibar li a:hover {
    color: #61d0d4;
}

#navibar a.active {
    color: #61d0d4;
}

.card {
    background-color: white;
    margin: auto;
    width: 1000px;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 50px;
}

.card-fused {
    background-color: white;
    margin: auto;
    width: 1000px;
    height: 1050px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 50px;
}

.card-top {
    background-color: white;
    background-image: url(bgcard.png);
    margin: auto;
    padding-top: 75px;
    width: 1000px;
    height: 100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card-top-fused {
    background-color: white;
    background-image: url(bgcard.png);
    margin: auto;
    padding-top: 20px;
    width: 1000px;
    height: 75px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card-top img {
    float: left;
    margin-left: 50px;
    width: 25%;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#intro h4 {
    color: white;
    font-size: 20px;
    margin-top: 0;
    margin-left: 345px;
}

#intro a {
    color: white;
    margin-left: 40px;
    width: 75%;
    font-size: 50;
    text-shadow: 10px 15px 25px;
    font-weight: 700;
}

.card-top-fused #intro a {
    color: white;
    margin-left: 400px;
    width: 75%;
    font-size: 50;
    text-shadow: 10px 15px 25px;
}

.card-bottom h3 {
    margin-left: 310px;
    margin-top: 25px;
    margin-bottom: 0;
}

.card-bottom h3 ul li {
    padding-bottom: 15px;
    list-style-type: none;
}

.card-bottom .title {
    display: inline-block;
    min-width: 200px;
}


.card-bottom .value a {
    color: #9e9e9e;
    text-decoration: none;
    transition: 0.3s;
}

.card-bottom .value a:hover {
    color: #61d0d4;
    transition: 0.3s;
}


.card-bottom #botcard #about h4 {
    margin-top: 35px;
    color: black;
    margin-left: 123px;
    font-size: 20;
    margin-bottom: 10px;
}

.card-bottom h4 a {
    color: #61d0d4;
}

.card-bottom h5 {
    font-size: 15px;
    margin-left: 55px;
    margin-top: 10px;
    margin-right: 650px;
}

.card-bottom #botcard #links {
    margin-left: 400px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}



.card-bottom #botcard div {
    display: inline-block;
    height: 30px;
}

.card-bottom #botcard #links img {
    position: relative;
    display: inline-block;
    height: auto;
    width: 100px;
}

.card-bottom #botcard #links .space {
    display: inline-block;
    min-width: 50px;
}

.card-bottom #botcard #links #wa {
    background-image: url(wa.png);
    background-size: contain;
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

.card-bottom #botcard #links #line {
    background-image: url(line.png);
    background-size: contain;
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

.card-bottom #botcard #links #ig {
    background-image: url(ig.png);
    background-size: contain;
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

.card-bottom #botcard #links #wa:hover {
    background-image: url(wa1.png);
    background-size: contain;
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

.card-bottom #botcard #links #line:hover {
    background-image: url(line1.png);
    background-size: contain;
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

.card-bottom #botcard #links #ig:hover {
    background-image: url(ig1.png);
    background-size: contain;
    width: 100px;
    height: 100px;
    transition: 0.3s;
}

.card-fused .card-bottom .data .desc ul li {
    font-family: 'Montserrat';
    list-style-type: none;
    font-size: 21px;
    display: inline;
    font-weight: 700;
    line-height: 1.5em;
}

.card-fused .card-bottom .data .desc .space {
    min-width: 420px;
    display: inline-block;
}

/*resume content*/
.row {
    background-color: transparent;
    width: 1000px;
    height: 300px;
}

.outer {
    background-color: transparent;
    width: 470px;
    height: 300px;
    display: inline-block;

}

.left {
    padding-left: 45px;

}

.linetop {
    margin-left: 14px;
    background-color: #d3d3d3;
    width: 3px;
    height: 300px;
    position: absolute;
    vertical-align: top;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.line {
    margin-left: 14px;
    background-color: #d3d3d3;
    width: 3px;
    height: 100px;
    position: absolute;
    vertical-align: top;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.circle {
    background-color: white;
    margin-top: 25px;
    width: 25px;
    height: 25px;
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    border-color: #d3d3d3;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.right {
    border-style: solid;
    width: 40s0px;
    height: 250px;
    border-radius: 10px;
    border-color: #e3e3e3;
    margin-left: 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3sl
}

.right h2 {
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 1000;
}

.right h4 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 10px;
    color: #b3b3b3;
    transition: 0.3s;
}

.right h4 a {
    color: black;
}


.right img {
    height: 150px;
    margin: auto;
    display: block;
}

.outer:hover .circle {
    border-color: #61d0d4;
    transition: 0.3s;
}

.outer:hover .right {
    border-color: #61d0d4;
    transition: 0.3s;
}

.outer:hover .right h4 {
    color: #61d0d4;
    transition: 0.3s;
}

/*/Bottom resume content*/

.rowskill {
    background-color: transparent;
    height: 40px;
}

.skill {
    display: inline-block;
}

.skill h4 {
    margin: 0;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

.container {
    margin-left: 40px;
    margin-right: 40px;
    height: 15px;
    width: 400;
    background-color: #ddd;
}

.skills {
    height: 15px;
    background-color: #61d0d4;
}

.indo {
    width: 100%;
}

.eng {
    width: 80%;
}

.mikrotik {
    width: 70%;
}

.deb {
    width: 60%;
}

.java {
    width: 30%;
}

.htmll {
    width: 50%;
}

.php {
    width: 25%;
}

/* Interests*/
.card-thin {
    background-color: white;
    background-image: url(bgcard.png);
    margin: auto;
    padding-top: 20px;
    width: 1000px;
    height: 75px;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-int {
    background-color: white;
    margin: auto;
    margin-bottom: 25px;
    width: 1000px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    transition: 0.7s;
}



.card-int .card-logo {
    padding-left: 350px;
    text-align: center;
    display: inline-block;
}

.card-int .pic {
    background-color: white;
    width: 300px;
    height: 300px;
    border-style: none;
    border-radius: 50px;
    text-align: center;
    transition: 0.7s;
}

.card-int .pic img{
    width: 300px;
    height: 300px;
}

.card-int:hover .pic {
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
    transform: translateX(-300px);
    transition: 0.7s;
}

.card-int-content {
    background-color: white;
    display: inline-block;
    border-radius: 50px;
    margin-top: 25px;
    margin-left: -200px;
    width: 500px;
    height: 235px;
    position: absolute;
    visibility: hidden;
    text-align: center;
    padding : 10px 10px 0px 10px;
    opacity: 0;
    transition: 0.3s;
}

.card-int:hover .card-int-content{
    visibility: visible;
    opacity: 1;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.15);
    transition: 0.7s;
}

.card-int:hover{
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    background-color: transparent;
    transition: 0.7s;
}

#easteregg{
    opacity: 0;
    transition: 0.7s;
}

.card-int:hover #easteregg{
    opacity: 1;
    transition: 0.7s;
    transition-delay: 30s;
}

/*Projects*/
.card-proj{
    background-color: transparent;
    margin: auto;
    margin-bottom: 600px;
    width: 1000px;
    height: 175px;
    border-radius: 50px;
    text-align: center;
}

.card-proj .card-logo{
    text-align: center;
    display: inline-block;
}

.card-proj .banner{
    background-color: #545454;
    border-style: none;
    border-radius: 50px;
    text-align: center;
    width: 700px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    display: inline-block;
}
.card-proj-photo{
    background-color: white;
    margin: auto;
    margin-bottom: 25px;
    width: 420px;
    height: 586px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    display: inline-block;  
}
.card-proj-photo img{
    margin: 10px;
    border-style: none;
    border-radius: 50px;
}
.words{
    background-color: white;
    border-style: none;
    border-radius: 50px;
    width: 540px;
    height: 250px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin-top: 140px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    text-align: center;
}

#bsc{
    width: 680px;
    height: 80px;
    background-color: #ffde59;
    border-style: none;
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
}
#bsc h1{
    font-family: 'Chewy';
    color: #545454;
    margin: 0;
    font-size: 4em;
    font-weight: 100;
    display: inline-block;
}
#ap{
    width: 680px;
    height: 80px;
    background-color: #5271ff;
    border-style: none;
    border-radius: 50px;
    padding: 10px;
    display: inline-block;
}
#ap h1{
    font-family: 'Fredoka One';
    color: white;
    margin: 0;
    font-size: 3.8em;
    font-weight: 100;
    display: inline-block;
}
/* Gallery */
#galleryspace{
    width: 1000px;
    height: 2000px;
    margin: auto;
    padding: 10px;
    border-radius: 50px;
    background-color: white;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.gframe{
    display: grid;
    grid-template-areas: 
        'ow1 ow3 ow4'
        'ow1 ow3 ow4'
        'ow1 ow2 ow4'
        'ow1 tshop1 tshop1'
        'ee2 ee1 ee1';
}
#ow1:hover{
    box-shadow:  0 7px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-7px);
    transition: 0.7s;
}
#ow2:hover{
    box-shadow:  0 7px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-7px);
    transition: 0.7s;
}
#ow3:hover{
    box-shadow:  0 7px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-7px);
    transition: 0.7s;
}
#ow4:hover{
    box-shadow:  0 7px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-7px);
    transition: 0.7s;
}
#tshop1:hover{
    box-shadow:  0 7px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-7px);
    transition: 0.7s;
}
#ow1{
    grid-area: ow1;
    transition: 0.7s;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    border-radius: 70px;
    width: 400px;
    height: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#ow2{
    grid-area: ow2;
    transition: 0.7s;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    border-radius: 70px;
    width: 450px;
    height: 300px;
    margin-right: -100px;
    margin-top: -50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#ow3{
    margin-left: -100px;
    grid-area: ow3;
    transition: 0.7s;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    border-radius: 70px;
    width: 270px;
    height: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#ow4{
    margin-right: -100px;
    margin-top: -100px;
    grid-area: ow4;
    transition: 0.7s;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    border-radius: 70px;
    width: 235px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#tshop1{
    grid-area: tshop1;
    transition: 0.7s;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    border-radius: 70px;
    width: 900px;
    height: 190px;
    margin-top: -25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#ee1{
    grid-area: ee1;
    transition: 0.7s;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    border-radius: 70px;
    width: 500px;
    height: 250px;
}
#ee2{
    grid-area: ee2;
    transition: 0.7s;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    border-radius: 70px;
    width: 400px;
    height: 225px;
}
/*Contact*/

/*Text Color*/
#tech{
    color: #61a0f4;
}
#uc{
    color: #fc811a;
}
#love{
    color: #ee2624;
}
#cook{
    color: #ffbd59;
}
#team{
    color: #7ed957;
}
#bad{
    color: #6920b0;
}
#mysql1{
    color: #00608c;
}
#mysql2{
    color: #e58200;
}
#java{
    color: #e11f22;
}
@media screen and (max-width: 980px) {
    #logo {
        padding-left: 0px;
    }

    #navibar {
        padding-left: 200px;
    }
}
